*{
    padding: 0;
    margin: 2px;
   
}

html,body{

    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

}

#main{
    color: bisque;
    height: 100%;
    width: 100%;
    border: solid  3px;
    border: solid 2px black;
}

#header{

    height: 25%;
    width: 100%;  
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: #CCAFA5;
    /* border: solid 2px black; */
    
}
#header h1{
    position: absolute;
    left: 40%;
    color: black;

}

#header input{
    position: absolute;
    
    top : 11%;
    width : 60%;
    height: 7%;
    left: 17%;
    text-align: center;
    /* background-color: ; */
    color: black;
}

#header #add{
    position: absolute;
    
    top : 20%;
    width : 5%;
    height: 5%;
    left: 45%;
}

button 
{
    color: antiquewhite;
    background-color: white;
    color:black;
}

input{
    color: black;
}

#content{
    height: 80%;
    width: 100%;
    border: solid 5px white;
    background-color:#EDE7DC;
}



#task{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    
}


.newbox{
    background-color: #D0B49F;
   color: black;
    
    /* border: 2px solid black; */
    /* text-align: center; */
    height: 40%;
    width: 10%;
    margin: 15px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
 
    
}
.removeButton{
    position: absolute;
  
    top : 5%;
    color: #EDE7DC;;
    width: 20px;
    left: 80%;
    border: none;
    background-color: #D0B49F;
}

